@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
.ui-green {
  color: #00b09b !important; }

.ui-blue {
  color: #2cb5e8 !important; }

.ui-cyan {
  color: #74ebd5 !important; }

.ui-ygreen {
  color: #92FE9D !important; }

.bg-green {
  background: #00b09b !important; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Poppins", "sans-serif"; }

.bold {
  font-weight: bold !important; }

.muted-2 {
  color: rgba(0, 0, 0, 0.3); }

.no-border {
  border: none !important; }

.no-padding {
  padding: 0 !important; }

.letter-space-1 {
  letter-spacing: 1px; }

.letter-space-2 {
  letter-spacing: 2px; }

.letter-space-3 {
  letter-spacing: 3px; }

a {
  text-decoration: none !important;
  color: #2cb5e8 !important; }

a:hover {
  color: #1fc8db !important;
  opacity: 1 !important; }

.underline {
  border-bottom: solid 2px #1fc8db !important; }

.bottom::after {
  content: "";
  color: #2cb5e8;
  width: 0px;
  height: 12px;
  background: #1fc8db;
  display: block;
  transition: width 0.5s ease-in-out; }

.bottom:hover::after {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 100%; }

i {
  font-size: 1.2em !important;
  color: #fff !important; }
  @media (min-width: 768px) {
    i {
      font-size: 2em !important; } }

i::after {
  display: block;
  content: "";
  height: 3px;
  width: 19px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -5px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; }

.icon-animate {
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out; }

.icon-animate:hover {
  transform: translateY(-15px); }

.icon-animate:hover::after {
  transform: translateY(15px); }

header {
  min-height: 10px; }

main {
  min-height: 100%; }

footer {
  min-height: 10px; }

.intro, .about, .social {
  margin-bottom: 4em !important; }

.details {
  background: #fff; }
  @media (min-width: 980px) {
    .details {
      padding: 50px !important; } }
  @media (max-width: 768px) {
    .details {
      margin-top: -50px !important;
      padding-top: 15px !important; } }

.main {
  margin-top: 70px; }
  @media (min-width: 768px) {
    .main {
      margin-top: 100px !important;
      margin-bottom: 50px !important; } }

body {
  padding: 0 !important;
  margin: 0 !important;
  background: #fff; }

.logo {
  width: 50%;
  height: 50%;
  margin-bottom: 30px !important; }
  @media (min-width: 980px) {
    .logo {
      width: 70%;
      height: 70%;
      margin-bottom: 50px !important; } }
  @media (max-width: 600px) {
    .logo {
      text-align: center;
      margin: 0 auto; } }

@media (max-width: 600px) {
  .navbar-brand {
    text-align: center !important;
    margin: 0 auto !important; } }

.bg-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(141deg, #74ebd5 0%, #1fc8db 51%, #2cb5e8 75%);
  min-height: 100vh; }
  @media (max-width: 768px) {
    .bg-cover {
      min-height: 450px !important;
      background-position: 50% 65%;
      padding-top: 50px; } }
  @media (max-width: 550px) {
    .bg-cover {
      min-height: 300px !important;
      background-position: 50% 90%; } }

.prof-pic {
  height: 150px;
  width: 150px;
  background: url("../img/prof-pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 50px; }
