// Default layout and spacing

// section layouts
header {
  min-height: 10px;
}

main {
  min-height: 100%;
}

footer {
  min-height: 10px;
}


.intro, .about, .social {
  margin-bottom: 4em !important;

}

.details {
  background: #fff;
  @media(min-width: 980px) {
    padding: 50px !important;
  }

  @media(max-width: 768px) {
    margin-top: -50px !important;
    padding-top: 15px !important;
  }
}

.main {
  margin-top: 70px;

  @media(min-width: 768px) {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
  }
}

body {
  padding: 0 !important;
  margin:  0 !important;
  background: #fff;
}